Repository synerthink/dotlanth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ademclk, @synerthink, @dotvm-maintainer, @dotdb-maintainer, @documentation-team

.github/CODEOWNERS:

# CODEOWNERS

# Define the default code owners for the repository
* @ademclk
* @synerthink

# Specify code owners for specific directories or files
/crates/dotvm/ @dotvm-maintainer
/crates/dotdb/ @dotdb-maintainer
/docs/ @documentation-team

feat: implement comprehensive state management system with versioning, validation, and opcodes
  crates/dotvm/core/src/opcode/state_opcodes.rs
  crates/dotvm/runtime/src/execution_context/state_access.rs
  crates/dotvm/runtime/src/validation/state_transition.rs
Owners: @dotvm-maintainer

refactor: remove conflicting execution_context.rs to resolve module ambiguity
  crates/dotvm/runtime/src/execution_context.rs
Owners: @dotvm-maintainer

feat(dotdb): Establish index structure modules and public interface exports
  crates/dotdb/core/src/indices/mod.rs
Owners: @dotdb-maintainer

feat: add comprehensive index library foundation
  crates/dotdb/core/src/indices/lib.rs
Owners: @dotdb-maintainer

feat: implement B+ tree for primary indices
  crates/dotdb/core/src/indices/b_plus_tree.rs
Owners: @dotdb-maintainer

feat: create hash index for quick lookups
  crates/dotdb/core/src/indices/hash_index.rs
Owners: @dotdb-maintainer

feat: develop composite index support for multi-field queries
  crates/dotdb/core/src/indices/composite_index.rs
Owners: @dotdb-maintainer

feat: implement automatic index maintenance system
  crates/dotdb/core/src/write_batch.rs
Owners: @dotdb-maintainer

feat: implement index persistence system with memory mapping and compression
  crates/dotdb/core/src/indices/persistence.rs
Owners: @dotdb-maintainer

fix: build errors for macos systems
  crates/dotdb/core/src/io/direct_io.rs
  crates/dotdb/core/src/memory/mmap.rs
  crates/dotdb/core/src/storage_engine/lib.rs
Owners: @dotdb-maintainer

feat: improve maintability, scalability and readability of dots, contract renamed to dot
  crates/dotvm/core/src/contracts/scheduling.rs
  crates/dotvm/core/src/contracts/validation.rs
  crates/dotvm/core/src/dots/dependencies.rs
  crates/dotvm/core/src/dots/dependencies/strategies/hierarchical.rs
  crates/dotvm/core/src/dots/dependencies/strategies/mod.rs
  crates/dotvm/core/src/dots/dependencies/strategies/reference.rs
  crates/dotvm/core/src/dots/error.rs
  crates/dotvm/core/src/dots/lib.rs
  crates/dotvm/core/src/dots/mod.rs
  crates/dotvm/core/src/dots/scheduling.rs
  crates/dotvm/core/src/dots/scheduling/strategies/by_type.rs
  crates/dotvm/core/src/dots/scheduling/strategies/complexity_first.rs
  crates/dotvm/core/src/dots/scheduling/strategies/mod.rs
  crates/dotvm/core/src/dots/scheduling/strategies/parallel.rs
  crates/dotvm/core/src/dots/scheduling/strategies/topological.rs
  crates/dotvm/core/src/dots/splitting.rs
  crates/dotvm/core/src/dots/validation.rs
  crates/dotvm/core/src/dots/validation/rules/max_length.rs
  crates/dotvm/core/src/dots/validation/rules/min_length.rs
  crates/dotvm/core/src/dots/validation/rules/mod.rs
  crates/dotvm/core/src/dots/validation/rules/non_empty_content.rs
  crates/dotvm/core/src/dots/validation/rules/required_metadata.rs
Owners: @dotvm-maintainer

fix: add Linux OS conditions for NUMA library usage
  crates/dotdb/core/build.rs
  crates/dotdb/core/src/memory/allocator.rs
Owners: @dotdb-maintainer

feat(dotdb): Establish query optimization modules and public interface exports
  crates/dotdb/core/src/query/mod.rs
  crates/dotdb/core/src/query/optimizer/mod.rs
  crates/dotdb/core/src/query/planner/mod.rs
  crates/dotdb/core/src/statistics/mod.rs
Owners: @dotdb-maintainer

cargo(dotdb): add required dependencies for query optimization
  Cargo.lock
  crates/dotdb/core/Cargo.toml
Owners: @synerthink, @dotdb-maintainer

feat: implement histogram-based data distribution analysis
  crates/dotdb/core/src/statistics/histogram.rs
Owners: @dotdb-maintainer

feat: implement cardinality estimation with HyperLogLog algorithm
  crates/dotdb/core/src/statistics/cardinality.rs
Owners: @dotdb-maintainer

feat: implement access pattern detection and analysis system
  crates/dotdb/core/src/statistics/access_patterns.rs
Owners: @dotdb-maintainer

feat: implement centralized statistics collection coordinator
  crates/dotdb/core/src/statistics/collector.rs
Owners: @dotdb-maintainer

feat: implement comprehensive query cost estimation model
  crates/dotdb/core/src/query/planner/cost_model.rs
Owners: @dotdb-maintainer

feat: implement intelligent index selection system
  crates/dotdb/core/src/query/planner/index_selector.rs
Owners: @dotdb-maintainer

feat: implement query execution plan generation system
  crates/dotdb/core/src/query/planner/plan_generator.rs
Owners: @dotdb-maintainer

feat: implement query optimization rules engine
  crates/dotdb/core/src/query/optimizer/rules.rs
Owners: @dotdb-maintainer

feat: implement rule-based optimization engine
  crates/dotdb/core/src/query/optimizer/rule_engine.rs
Owners: @dotdb-maintainer

feat: implement main query optimizer coordinator
  crates/dotdb/core/src/query/optimizer/optimizer.rs
Owners: @dotdb-maintainer

fix: resolve flaky compaction strategy tests with deterministic timing
  crates/dotdb/core/src/compaction/strategy.rs
Owners: @dotdb-maintainer

dotdb: add/update GPL headers
  crates/dotdb/core/src/compaction/manager.rs
  crates/dotdb/core/src/compaction/mod.rs
  crates/dotdb/core/src/compaction/strategy.rs
  crates/dotdb/core/src/fs/layout.rs
  crates/dotdb/core/src/fs/mod.rs
  crates/dotdb/core/src/io/direct_io.rs
  crates/dotdb/core/src/io/mod.rs
  crates/dotdb/core/src/recovery/checkpoint.rs
  crates/dotdb/core/src/state/contract_storage_layout.rs
Owners: @dotdb-maintainer

feat(state): implement contract state versioning system
  crates/dotdb/core/src/state/mod.rs
  crates/dotdb/core/src/state/versioning.rs
Owners: @dotdb-maintainer

feat(state): integrate snapshot system with versioning for unified state management
  crates/dotdb/core/src/state/snapshot.rs
Owners: @dotdb-maintainer

feat(storage): implement multi-version concurrency control with contract state integration
  crates/dotdb/core/src/storage_engine/mvcc.rs
Owners: @dotdb-maintainer

feat(storage): implement SQL isolation levels with lock manager
  crates/dotdb/core/src/storage_engine/isolation.rs
Owners: @dotdb-maintainer

feat(storage): implement wait-for graph deadlock detection system
  crates/dotdb/core/src/storage_engine/deadlock_detector.rs
Owners: @dotdb-maintainer

feat(storage): integrate MVCC, isolation, and deadlock detection into transaction system
  crates/dotdb/core/src/storage_engine/transaction.rs
Owners: @dotdb-maintainer

feat(storage): add error variants for MVCC and versioning systems
  crates/dotdb/core/src/storage_engine/lib.rs
Owners: @dotdb-maintainer

feat(storage): expose transaction engine components via public API
  crates/dotdb/core/src/storage_engine/mod.rs
Owners: @dotdb-maintainer

feat(storage): export OCC components in storage engine module
  crates/dotdb/core/src/storage_engine/mod.rs
Owners: @dotdb-maintainer

feat(storage): implement enterprise-grade optimistic concurrency control system
  crates/dotdb/core/src/storage_engine/occ.rs
Owners: @dotdb-maintainer

feat(storage): integrate optimistic concurrency control with transaction manager
  crates/dotdb/core/src/storage_engine/transaction.rs
Owners: @dotdb-maintainer

fix: performance optimizations, remove inefficient blocks causes unsafe trigger
  crates/dotvm/core/src/dots/dependencies/strategies/reference.rs
  crates/dotvm/core/src/dots/validation.rs
Owners: @dotvm-maintainer

formattter: reference.rs
  crates/dotvm/core/src/dots/dependencies/strategies/reference.rs
Owners: @dotvm-maintainer

feat: architecture specific opcodes
  Cargo.lock
  crates/dotvm/core/Cargo.toml
  crates/dotvm/core/src/instruction/architecture_registry.rs
  crates/dotvm/core/src/instruction/arithmetic.rs
  crates/dotvm/core/src/instruction/bigint.rs
  crates/dotvm/core/src/instruction/control_flow.rs
  crates/dotvm/core/src/instruction/crypto.rs
  crates/dotvm/core/src/instruction/instruction.rs
  crates/dotvm/core/src/instruction/memory.rs
  crates/dotvm/core/src/instruction/mod.rs
  crates/dotvm/core/src/instruction/system_call.rs
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/opcode/architecture_opcodes.rs
  crates/dotvm/core/src/opcode/arithmetic_opcodes.rs
  crates/dotvm/core/src/opcode/control_flow_opcodes.rs
  crates/dotvm/core/src/opcode/crypto_opcodes.rs
  crates/dotvm/core/src/opcode/memory_opcodes.rs
  crates/dotvm/core/src/opcode/mod.rs
  crates/dotvm/core/src/opcode/system_call_opcodes.rs
  crates/dotvm/core/src/vm/errors.rs
  crates/dotvm/core/src/vm/executor.rs
  crates/dotvm/core/src/vm/mod.rs
  crates/dotvm/core/src/vm/multi_arch_executor.rs
Owners: @synerthink, @dotvm-maintainer
