Repository synerthink/dotlanth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ademclk, @synerthink, @dotvm-maintainer, @dotdb-maintainer, @documentation-team

feat: Establish core memory utilities and measurement infrastructure
  crates/dotdb/core/src/memory/lib.rs
Owners: @dotdb-maintainer

feat: Implement custom memory allocator with comprehensive allocation strategies
  crates/dotdb/core/src/memory/allocator.rs
Owners: @dotdb-maintainer

feat: Design memory pooling system for efficient recycling of allocations
  crates/dotdb/core/src/memory/pool.rs
Owners: @dotdb-maintainer

feat: Create in-memory cache with multiple eviction policies and performance metrics
  crates/dotdb/core/src/memory/cache.rs
Owners: @dotdb-maintainer

feat: Build cross-platform memory-mapped file implementation with sync controls
  crates/dotdb/core/src/memory/mmap.rs
Owners: @dotdb-maintainer

devcontainer: enable privileged mode in container image
  .devcontainer/devcontainer.json
Owners: @synerthink

feat(dotdb): Establish file system interaction modules structure and public interface exports
  crates/dotdb/core/src/compaction/mod.rs
  crates/dotdb/core/src/fs/mod.rs
  crates/dotdb/core/src/io/mod.rs
  crates/dotdb/core/src/lib.rs
  crates/dotdb/core/src/recovery/mod.rs
Owners: @dotdb-maintainer

cargo(dotdb): add required dependencies for file system interaction
  Cargo.lock
  crates/dotdb/core/Cargo.toml
Owners: @synerthink, @dotdb-maintainer

feat: implement scalable file organization structure with versioned naming, directory management, and lifecycle controls
  crates/dotdb/core/src/fs/layout.rs
Owners: @dotdb-maintainer

feat: add platform-aware direct I/O with alignment, buffered writes, and configurable block sizes
  crates/dotdb/core/src/io/direct_io.rs
Owners: @dotdb-maintainer

feat: implement robust checkpoint system with metadata, integrity verification, and WAL integration
  crates/dotdb/core/src/recovery/checkpoint.rs
Owners: @dotdb-maintainer

feat: add modular compaction strategies and background manager with resource-aware scheduling
  crates/dotdb/core/src/compaction/manager.rs
  crates/dotdb/core/src/compaction/strategy.rs
Owners: @dotdb-maintainer

cargo(dotdb): add required dependencies for state tree implementation
  Cargo.lock
  crates/dotdb/core/Cargo.toml
Owners: @synerthink, @dotdb-maintainer

feat: implement core MPT library with cryptographic hashing and path utilities
  crates/dotdb/core/src/state/mpt/lib.rs
Owners: @dotdb-maintainer

feat: implement comprehensive MPT node types and operations
  crates/dotdb/core/src/state/mpt/node.rs
Owners: @dotdb-maintainer

feat: implement Merkle proof generation and verification system
  crates/dotdb/core/src/state/mpt/proof.rs
Owners: @dotdb-maintainer

feat: implement complete Merkle Patricia Trie with full CRUD operations
  crates/dotdb/core/src/state/mpt/trie.rs
Owners: @dotdb-maintainer

feat: implement comprehensive state diff system for MPT change tracking
  crates/dotdb/core/src/state/diff.rs
Owners: @dotdb-maintainer

feat: implement point-in-time state snapshot system with restoration
  crates/dotdb/core/src/state/snapshot.rs
Owners: @dotdb-maintainer

feat: implement advanced state pruning system with multiple strategies
  crates/dotdb/core/src/state/pruning.rs
Owners: @dotdb-maintainer

feat: implement comprehensive database interface for MPT state management
  crates/dotdb/core/src/state/db_interface.rs
Owners: @dotdb-maintainer

fix: resolve timing race conditions in time window strategy tests
  crates/dotdb/core/src/compaction/strategy.rs
Owners: @dotdb-maintainer

fix: add missing unsafe blocks around inline assembly instructions
  crates/dotvm/core/src/memory/protection.rs
Owners: @dotvm-maintainer

chore: remove debug print statements from file format tests
  crates/dotdb/core/src/storage_engine/file_format.rs
Owners: @dotdb-maintainer

feat(dotdb): Establish state tree implementation modules structure and public interface exports
  crates/dotdb/core/src/lib.rs
  crates/dotdb/core/src/state/mod.rs
  crates/dotdb/core/src/state/mpt/mod.rs
Owners: @dotdb-maintainer

cargo(dotdb): add required dependencies for state tree implementation
  Cargo.lock
  crates/dotdb/core/Cargo.toml
Owners: @synerthink, @dotdb-maintainer

feat: implement core MPT library with cryptographic hashing and path utilities
  crates/dotdb/core/src/state/mpt/lib.rs
Owners: @dotdb-maintainer

feat: implement comprehensive MPT node types and operations
  crates/dotdb/core/src/state/mpt/node.rs
Owners: @dotdb-maintainer

feat: implement Merkle proof generation and verification system
  crates/dotdb/core/src/state/mpt/proof.rs
Owners: @dotdb-maintainer

feat: implement complete Merkle Patricia Trie with full CRUD operations
  crates/dotdb/core/src/state/mpt/trie.rs
Owners: @dotdb-maintainer

feat: implement comprehensive state diff system for MPT change tracking
  crates/dotdb/core/src/state/diff.rs
Owners: @dotdb-maintainer

feat: implement point-in-time state snapshot system with restoration
  crates/dotdb/core/src/state/snapshot.rs
Owners: @dotdb-maintainer

feat: implement advanced state pruning system with multiple strategies
  crates/dotdb/core/src/state/pruning.rs
Owners: @dotdb-maintainer

feat: implement comprehensive database interface for MPT state management
  crates/dotdb/core/src/state/db_interface.rs
Owners: @dotdb-maintainer

fix: resolve timing race conditions in time window strategy tests
  crates/dotdb/core/src/compaction/strategy.rs
Owners: @dotdb-maintainer

fix: add missing unsafe blocks around inline assembly instructions
  crates/dotvm/core/src/memory/protection.rs
Owners: @dotvm-maintainer

chore: remove debug print statements from file format tests
  crates/dotdb/core/src/storage_engine/file_format.rs
Owners: @dotdb-maintainer

feat(dotdb): Establish contract state management modules structure and public interface exports
  crates/dotdb/core/src/state/mod.rs
  crates/dotvm/runtime/src/execution_context/mod.rs
  crates/dotvm/runtime/src/lib.rs
  crates/dotvm/runtime/src/validation/mod.rs
Owners: @dotdb-maintainer, @dotvm-maintainer

cargo(dotdb): add required dependencies for contract state management
  Cargo.lock
  crates/dotvm/runtime/Cargo.toml
Owners: @synerthink, @dotvm-maintainer

feat: implement contract storage layout system for deterministic state mapping
  crates/dotdb/core/src/state/contract_storage_layout.rs
Owners: @dotdb-maintainer

.github/CODEOWNERS:

# CODEOWNERS

# Define the default code owners for the repository
* @ademclk
* @synerthink

# Specify code owners for specific directories or files
/crates/dotvm/ @dotvm-maintainer
/crates/dotdb/ @dotdb-maintainer
/docs/ @documentation-team
