Repository synerthink/dotlanth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ademclk, @synerthink, @dotvm-maintainer, @dotdb-maintainer, @documentation-team

.github/CODEOWNERS:

# CODEOWNERS

# Define the default code owners for the repository
* @ademclk
* @synerthink

# Specify code owners for specific directories or files
/crates/dotvm/ @dotvm-maintainer
/crates/dotdb/ @dotdb-maintainer
/docs/ @documentation-team

feat(runtime): Establish async runtime module structure and public interface exports
  crates/dotvm/runtime/src/async_runtime/mod.rs
Owners: @dotvm-maintainer

cargo(runtime): add required dependencies for async runtime
  Cargo.lock
  crates/dotvm/runtime/Cargo.toml
Owners: @synerthink, @dotvm-maintainer

feat(async-runtime): implement core async task tracking types and error handling
  crates/dotvm/runtime/src/async_runtime/lib.rs
Owners: @dotvm-maintainer

feat(async-runtime): implement structured task cancellation system with metrics and background maintenance
  crates/dotvm/runtime/src/async_runtime/cancellation.rs
Owners: @dotvm-maintainer

feat(async-runtime): implement priority-driven task execution engine with metrics and timeout handling
  crates/dotvm/runtime/src/async_runtime/executor.rs
Owners: @dotvm-maintainer

feat(async-runtime): implement configurable task status monitoring system with completion tracking
  crates/dotvm/runtime/src/async_runtime/polling.rs
Owners: @dotvm-maintainer

feat(async-runtime): implement priority-driven task scheduling with multi-queue architecture
  crates/dotvm/runtime/src/async_runtime/scheduler.rs
Owners: @dotvm-maintainer

feat(async-runtime): implement configurable task status monitoring system with completion tracking
  crates/dotvm/runtime/src/async_runtime/polling.rs
Owners: @dotvm-maintainer

feat(async-runtime): implement priority-driven task scheduling with multi-queue architecture
  crates/dotvm/runtime/src/async_runtime/scheduler.rs
Owners: @dotvm-maintainer

feat: implement core components for concurrent event system
  crates/dotvm/runtime/src/events/mod.rs
Owners: @dotvm-maintainer

feat: implement core event system types and utilities
  crates/dotvm/runtime/src/events/lib.rs
Owners: @dotvm-maintainer

feat: implement thread-safe event dispatcher with async processing
  crates/dotvm/runtime/src/events/dispatcher.rs
Owners: @dotvm-maintainer

feat: implement priority event queue with delay support and capacity management
  crates/dotvm/runtime/src/events/queue.rs
Owners: @dotvm-maintainer

feat: implement dynamic event priority management system
  crates/dotvm/runtime/src/events/prioritization.rs
Owners: @dotvm-maintainer

feat: implement flexible event filtering system with modification capabilities
  crates/dotvm/runtime/src/events/filter.rs
Owners: @dotvm-maintainer

cargo(runtime): add required dependencies for finality protocol
  Cargo.lock
  crates/dotvm/runtime/Cargo.toml
Owners: @synerthink, @dotvm-maintainer

feat: add core state transition types and validation primitives
  crates/dotvm/runtime/src/finalizer/lib.rs
Owners: @dotvm-maintainer

feat: implement instant finality protocol with atomic state transitions
  crates/dotvm/runtime/src/finalizer/instant_finality.rs
Owners: @dotvm-maintainer

feat: implement configurable state transition validation engine
  crates/dotvm/runtime/src/finalizer/finality_validation.rs
Owners: @dotvm-maintainer

feat: implement dual-persistence audit logging system with structured entries
  crates/dotvm/runtime/src/finalizer/logging_audit.rs
Owners: @dotvm-maintainer

feat: implement cryptographically verified finality confirmations
  crates/dotvm/runtime/src/finalizer/finality_confirmation.rs
Owners: @dotvm-maintainer

feat(runtime): Establish rollback system module structure and public interface exports
  crates/dotvm/runtime/src/lib.rs
  crates/dotvm/runtime/src/rollback/mod.rs
Owners: @dotvm-maintainer

feat: Add core rollback system infrastructure
  crates/dotvm/runtime/src/rollback/lib.rs
Owners: @dotvm-maintainer

feat: Implement state rollback management system
  crates/dotvm/runtime/src/rollback/state.rs
Owners: @dotvm-maintainer

feat: Implement checkpoint management system
  crates/dotvm/runtime/src/rollback/checkpoint.rs
Owners: @dotvm-maintainer

feat: Implement system recovery management components
  crates/dotvm/runtime/src/rollback/recovery.rs
Owners: @dotvm-maintainer

feat: Implement system consistency verification framework
  crates/dotvm/runtime/src/rollback/verification.rs
Owners: @dotvm-maintainer

feat: implement dotdb module
  Cargo.lock
  Cargo.toml
  crates/dotdb/common/Cargo.toml
  crates/dotdb/common/src/error.rs
  crates/dotdb/common/src/lib.rs
  crates/dotdb/common/src/types/mod.rs
  crates/dotdb/common/src/utils/mod.rs
Owners: @synerthink, @dotdb-maintainer

feat(dotdb): Establish core storage engine module structure and public interface exports
  crates/dotdb/core/src/lib.rs
  crates/dotdb/core/src/storage_engine/mod.rs
Owners: @dotdb-maintainer

feat: Clarify crate-level purpose, structure, and API with enhanced documentation
  crates/dotdb/core/src/storage_engine/lib.rs
  crates/dotdb/core/src/storage_engine/mod.rs
Owners: @dotdb-maintainer

cargo(dotdb): add required dependencies for core storage engine
  Cargo.lock
  crates/dotdb/core/Cargo.toml
Owners: @synerthink, @dotdb-maintainer

feat: Clarify page allocation, free list, and versioning logic with detailed documentation
  crates/dotdb/core/src/storage_engine/page_manager.rs
Owners: @dotdb-maintainer

feat: Clarify persistent storage logic with detailed documentation
  crates/dotdb/core/src/storage_engine/file_format.rs
Owners: @dotdb-maintainer

feat: Clarify buffer pool management, concurrency, and replacement logic with detailed documentation
  crates/dotdb/core/src/storage_engine/buffer_manager.rs
Owners: @dotdb-maintainer

feat: Clarify WAL durability, log file management, and recovery with detailed documentation
  crates/dotdb/core/src/storage_engine/wal.rs
Owners: @dotdb-maintainer

feat: Clarify transaction lifecycle and concurrency with detailed documentation
  crates/dotdb/core/src/storage_engine/transaction.rs
Owners: @dotdb-maintainer

dotlanth: enable NUMA support in GitHub CI and Dev Containers
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
Owners: @synerthink

feat(dotdb-core): initialize C library support, enable NUMA support
  crates/dotdb/core/build.rs
Owners: @dotdb-maintainer

feat(dotdb): Establish memory management module structure and public interface exports
  crates/dotdb/core/src/lib.rs
  crates/dotdb/core/src/memory/mod.rs
Owners: @dotdb-maintainer

cargo(dotdb): add required dependencies for memory management, enable c library support
  Cargo.lock
  crates/dotdb/core/Cargo.toml
Owners: @synerthink, @dotdb-maintainer
