Repository synerthink/dotlanth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ademclk, @synerthink, @dotvm-maintainer, @dotdb-maintainer, @documentation-team

refactor: standardize database paths to use dotlanth directory structure
  crates/dotvm/core/src/vm/database_executor.rs
Owners: @dotvm-maintainer

refactor: standardize test snapshot directory to dotlanth structure
  crates/dotvm/core/src/vm/state_executor.rs
Owners: @dotvm-maintainer

feat: add comprehensive user management module structure
  crates/dotlanth-api/src/user_management/mod.rs
Owners: @synerthink

feat: implement comprehensive user management data models
  crates/dotlanth-api/src/user_management/models.rs
Owners: @synerthink

feat: implement UserManager with comprehensive user lifecycle management
  crates/dotlanth-api/src/user_management/manager.rs
Owners: @synerthink

feat: implement persistent user and activity storage layer
  crates/dotlanth-api/src/user_management/store.rs
Owners: @synerthink

feat: implement HTTP handlers for user management REST API
  crates/dotlanth-api/src/user_management/handlers.rs
Owners: @synerthink

feat: implement comprehensive user preferences management system
  crates/dotlanth-api/src/user_management/preferences.rs
Owners: @synerthink

feat: implement advanced user search and discovery service
  crates/dotlanth-api/src/user_management/search.rs
Owners: @synerthink

feat: implement comprehensive user activity audit logging system
  crates/dotlanth-api/src/user_management/audit.rs
Owners: @synerthink

feat: implement GDPR-compliant user data export service
  crates/dotlanth-api/src/user_management/export.rs
Owners: @synerthink

feat: add comprehensive test suite for user management system
  crates/dotlanth-api/src/user_management/tests.rs
Owners: @synerthink

Add GPLv3 licensing and repository policy files #1
  CONTRIBUTING.md
  Cargo.toml
  LICENSE
  README.md
  SECURITY.md
Owners: @synerthink

docs: add architecture decisions for alpha scope (#2)
  README.md
  docs/architecture/0001-alpha-foundation-scope.md
  docs/architecture/0002-modular-monolith-first.md
  docs/architecture/0003-sqlite-local-first-storage.md
Owners: @synerthink, @documentation-team

feat: scaffold Cargo workspace and crate boundaries #3
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/api/Cargo.toml
  crates/api/src/lib.rs
  crates/app/Cargo.toml
  crates/app/src/main.rs
  crates/audit/Cargo.toml
  crates/audit/src/lib.rs
  crates/auth/Cargo.toml
  crates/auth/src/lib.rs
  crates/core/Cargo.toml
  crates/core/src/clock.rs
  crates/core/src/error.rs
  crates/core/src/id.rs
  crates/core/src/lib.rs
  crates/ingestion/Cargo.toml
  crates/ingestion/src/lib.rs
  crates/object_model/Cargo.toml
  crates/object_model/src/lib.rs
  crates/observability/Cargo.toml
  crates/observability/src/lib.rs
  crates/search/Cargo.toml
  crates/search/src/lib.rs
  crates/storage/Cargo.toml
  crates/storage/src/lib.rs
  crates/workflow/Cargo.toml
  crates/workflow/src/lib.rs
  demo-data/.gitkeep
  migrations/.gitkeep
  ops/.gitkeep
  tests/.gitkeep
Owners: @synerthink

.github/CODEOWNERS:

# CODEOWNERS

# Define the default code owners for the repository
* @ademclk
* @synerthink

# Specify code owners for specific directories or files
/crates/dotvm/ @dotvm-maintainer
/crates/dotdb/ @dotdb-maintainer
/docs/ @documentation-team
