Repository synerthink/dotlanth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ademclk, @synerthink, @dotvm-maintainer, @dotdb-maintainer, @documentation-team

cargo(dotvm-runtime): add required dependencies for wasm runtime
  Cargo.lock
  crates/dotvm/runtime/Cargo.toml
Owners: @synerthink, @dotvm-maintainer

feat(wasm): implement comprehensive WASM runtime error handling system
  crates/dotvm/runtime/src/wasm/error.rs
Owners: @dotvm-maintainer

feat(wasm): implement standalone WASM execution context with interpreter integration
  crates/dotvm/runtime/src/wasm/execution.rs
Owners: @dotvm-maintainer

feat(wasm): implement comprehensive WASM instance management with security integration
  crates/dotvm/runtime/src/wasm/instance.rs
Owners: @dotvm-maintainer

feat(wasm): implement native WASM instruction interpreter with module integration
  crates/dotvm/runtime/src/wasm/interpreter.rs
Owners: @dotvm-maintainer

feat(wasm): implement unified WASM runtime management with resource limiting and security
  crates/dotvm/runtime/src/wasm/management.rs
Owners: @dotvm-maintainer

feat(wasm): implement WASM linear memory with bounds checking and statistics
  crates/dotvm/runtime/src/wasm/memory.rs
Owners: @dotvm-maintainer

feat(wasm): implement comprehensive WASM module metadata management with validation
  crates/dotvm/runtime/src/wasm/module.rs
Owners: @dotvm-maintainer

feat(wasm): implement comprehensive WASM runtime with validation and configuration management
  crates/dotvm/runtime/src/wasm/runtime.rs
Owners: @dotvm-maintainer

feat(wasm): implement WASM to DotVM bytecode transpiler with optimization passes
  crates/dotvm/runtime/src/wasm/transpiler.rs
Owners: @dotvm-maintainer

feat(dotvm-compiler/wasm): add VM StackValue conversion methods to WasmValue
  crates/dotvm/compiler/src/wasm/ast/types.rs
Owners: @dotvm-maintainer

feat(dotvm-runtime/execution_context): implement contract storage key iteration with trie-based filtering
  crates/dotvm/runtime/src/execution_context/state_access.rs
Owners: @dotvm-maintainer

feat(dotvm-runtime/execution_context): implement contract storage key iteration with trie-based filtering
  crates/dotvm/runtime/src/execution_context/state_access.rs
Owners: @dotvm-maintainer

feat(dotvm-runtime/execution_context): implement dot storage key iteration with trie-based filtering
  crates/dotvm/runtime/src/execution_context/state_access.rs
Owners: @dotvm-maintainer

feat(optimizer): add thread safety to OptimizationRule trait
  crates/dotdb/core/src/query/optimizer/rule_engine.rs
Owners: @dotdb-maintainer

feat(optimizer): implement thread safety for query optimization rules
  crates/dotdb/core/src/query/optimizer/rules.rs
Owners: @dotdb-maintainer

cargo(dotvm-core): add database benchmarking and hex encoding support
  Cargo.lock
  crates/dotvm/core/Cargo.toml
Owners: @synerthink, @dotvm-maintainer

feat(opcode): implement comprehensive database opcodes for DotDB integration
  crates/dotvm/core/src/opcode/db_opcodes.rs
Owners: @dotvm-maintainer

feat(vm): integrate DatabaseOpcodeExecutor with VM execution engine
  crates/dotvm/core/src/vm/executor.rs
Owners: @dotvm-maintainer

feat(vm): expose database_executor module for VM database operations
  crates/dotvm/core/src/vm/mod.rs
Owners: @dotvm-maintainer

feat(vm): add Bytes type and database conversion methods to VM stack
  crates/dotvm/core/src/vm/stack.rs
Owners: @dotvm-maintainer

feat(vm): implement comprehensive DatabaseOpcodeExecutor with DotDB integration
  crates/dotvm/core/src/vm/database_executor.rs
Owners: @dotvm-maintainer

feat(dotvm-core/benches): add comprehensive database performance benchmarks
  crates/dotvm/core/benches/database_performance_benchmarks.rs
Owners: @dotvm-maintainer

feat(dotvm-core/examples): add comprehensive database opcodes examples and demonstrations
  crates/dotvm/core/examples/database_opcodes_examples.rs
Owners: @dotvm-maintainer

feat: add comprehensive cryptographic dependencies for VM security operations
  Cargo.lock
  crates/dotvm/core/Cargo.toml
Owners: @synerthink, @dotvm-maintainer

feat: add cryptographic provider modules to instruction system
  crates/dotvm/core/src/instruction/mod.rs
Owners: @dotvm-maintainer

feat: add memory address access method for crypto instruction integration
  crates/dotvm/core/src/memory/mod.rs
Owners: @dotvm-maintainer

feat: extend crypto opcodes with secure random and zero-knowledge operations
  crates/dotvm/core/src/opcode/crypto_opcodes.rs
Owners: @dotvm-maintainer

feat: add cryptographic error handling to VM error system
  crates/dotvm/core/src/vm/errors.rs
Owners: @dotvm-maintainer

feat: refactor crypto instructions to use PLONKY2-powered provider architecture
  crates/dotvm/core/src/instruction/crypto.rs
Owners: @dotvm-maintainer

feat: integrate cryptographic instructions into VM instruction registry
  crates/dotvm/core/src/instruction/registry.rs
Owners: @dotvm-maintainer

feat: integrate crypto instructions into architecture registry with PLONKY2 support
  crates/dotvm/core/src/instruction/architecture_registry.rs
Owners: @dotvm-maintainer

feat: implement cryptographic provider architecture and interfaces
  crates/dotvm/core/src/instruction/crypto_provider.rs
Owners: @dotvm-maintainer

feat: implement PLONKY2-powered cryptographic providers with audited libraries
  crates/dotvm/core/src/instruction/crypto_impl.rs
Owners: @dotvm-maintainer

feat: add comprehensive Criterion-based crypto performance benchmarks
  crates/dotvm/core/benches/crypto_benchmarks.rs
Owners: @dotvm-maintainer

feat: add comprehensive crypto integration tests with PLONKY2 support
  crates/dotvm/core/tests/crypto_integration_test.rs
Owners: @dotvm-maintainer

dotlanth: contract to dot conversion
  crates/dotdb/core/src/state/dot_storage_layout.rs
  crates/dotdb/core/src/state/mod.rs
  crates/dotdb/core/src/state/snapshot.rs
  crates/dotdb/core/src/state/versioning.rs
  crates/dotdb/core/src/storage_engine/mvcc.rs
  crates/dotdb/core/src/storage_engine/transaction.rs
  crates/dotvm/core/src/vm/state_management/mod.rs
  crates/dotvm/runtime/src/execution_context/state_access.rs
  crates/dotvm/runtime/src/validation/state_transition.rs
Owners: @dotdb-maintainer, @dotvm-maintainer

src: cargo fmt
  crates/dotdb/core/src/state/mod.rs
  crates/dotdb/core/src/state/snapshot.rs
  crates/dotdb/core/src/state/versioning.rs
Owners: @dotdb-maintainer

cargo(dotvm-core): add required dependencies for parallel execution opcodes
  Cargo.lock
  crates/dotvm/core/Cargo.toml
Owners: @synerthink, @dotvm-maintainer

feat: implement ParaDot parallel execution opcodes
  crates/dotvm/core/src/opcode/parallel_opcodes.rs
Owners: @dotvm-maintainer

.github/CODEOWNERS:

# CODEOWNERS

# Define the default code owners for the repository
* @ademclk
* @synerthink

# Specify code owners for specific directories or files
/crates/dotvm/ @dotvm-maintainer
/crates/dotdb/ @dotdb-maintainer
/docs/ @documentation-team
