Repository synerthink/dotlanth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ademclk, @synerthink, @dotvm-maintainer, @dotdb-maintainer, @documentation-team

.github/CODEOWNERS:

# CODEOWNERS

# Define the default code owners for the repository
* @ademclk
* @synerthink

# Specify code owners for specific directories or files
/crates/dotvm/ @dotvm-maintainer
/crates/dotdb/ @dotdb-maintainer
/docs/ @documentation-team

feat: implement ParaDot VM integration layer
  crates/dotvm/core/src/vm/paradot_integration.rs
Owners: @dotvm-maintainer

feat: implement ParaDot parallel execution engine
  crates/dotvm/core/src/vm/paradot_executor.rs
Owners: @dotvm-maintainer

feat: integrate ParaDot execution modules into VM
  crates/dotvm/core/src/vm/mod.rs
Owners: @dotvm-maintainer

cargo(dotvm-core): fix compiling errors, update some packages
  Cargo.lock
  crates/dotvm/core/Cargo.toml
Owners: @synerthink, @dotvm-maintainer

fix: update crypto implementation for aes-gcm RC version compatibility
  crates/dotvm/core/src/instruction/crypto_impl.rs
Owners: @dotvm-maintainer

fix: update crypto implementation for aes-gcm RC version compatibility
  crates/dotvm/core/src/instruction/crypto_impl.rs
Owners: @dotvm-maintainer

fix(deadlock): resolve timing precision issue in wait_for_edge test
  crates/dotdb/core/src/storage_engine/deadlock_detector.rs
Owners: @dotdb-maintainer

src(dotvm-runtime): contract to dot conversion, fixing race conditions in tests
  crates/dotvm/runtime/src/dots/dot_manager.rs
  crates/dotvm/runtime/src/dots/mod.rs
  crates/dotvm/runtime/src/lib.rs
Owners: @dotvm-maintainer

fix(rollback): replace unsafe pointer manipulation with thread-safe synchronization
  crates/dotvm/runtime/src/rollback/state.rs
Owners: @dotvm-maintainer

feat: implement ACID state management executor with MVCC support
  crates/dotvm/core/src/vm/state_executor.rs
Owners: @dotvm-maintainer

feat: add advanced state management opcodes with ACID guarantees
  crates/dotvm/core/src/opcode/state_opcodes.rs
Owners: @dotvm-maintainer

feat: integrate advanced state management opcodes into VM executor
  crates/dotvm/core/src/vm/executor.rs
Owners: @dotvm-maintainer

feat: expose state executor module in VM interface
  crates/dotvm/core/src/vm/mod.rs
Owners: @dotvm-maintainer

feat: add serialization support to state management types
  crates/dotvm/core/src/vm/state_management/lib.rs
Owners: @dotvm-maintainer

feat: add debug support to MVCC store implementation
  crates/dotvm/core/src/vm/state_management/mvcc.rs
Owners: @dotvm-maintainer

feat: add debug support to snapshot manager
  crates/dotvm/core/src/vm/state_management/snapshot.rs
Owners: @dotvm-maintainer

feat: enhance Merkle tree with serialization and debug support
  crates/dotvm/core/src/vm/state_management/tree.rs
Owners: @dotvm-maintainer

fmt: dotvm
  crates/dotvm/core/src/dots/dependencies.rs
  crates/dotvm/core/src/opcode/state_opcodes.rs
  crates/dotvm/runtime/src/transpiler_integration.rs
  crates/dotvm/runtime/src/validation/state_transition.rs
  crates/dotvm/runtime/src/wasm/execution.rs
  crates/dotvm/runtime/src/wasm/interpreter.rs
  crates/dotvm/runtime/src/wasm/management.rs
  crates/dotvm/runtime/src/wasm/module.rs
  crates/dotvm/runtime/src/wasm/runtime.rs
Owners: @dotvm-maintainer

feat: expose async host function interface in WASM module
  crates/dotvm/runtime/src/wasm/mod.rs
Owners: @dotvm-maintainer

feat: implement async bridge for WASM host function integration
  crates/dotvm/runtime/src/wasm/async_bridge.rs
Owners: @dotvm-maintainer

feat: implement comprehensive async host function interface for custom opcodes
  crates/dotvm/runtime/src/wasm/host_functions.rs
Owners: @dotvm-maintainer

feat: add comprehensive demo for async host function capabilities
  crates/dotvm/runtime/examples/async_host_functions_demo.rs
Owners: @dotvm-maintainer

test: add comprehensive integration tests for async host functions
  crates/dotvm/runtime/tests/async_host_functions_integration.rs
Owners: @dotvm-maintainer

refactor(wasm): re-export bridge/async host interfaces and resolve duplicate exports
  crates/dotvm/runtime/src/wasm/mod.rs
Owners: @dotvm-maintainer

feat(wasm/runtime): integrate PerformanceOptimizer and wire optimized batch host fn
  crates/dotvm/runtime/src/wasm/runtime.rs
Owners: @dotvm-maintainer

feat(runtime/wasm): add high-performance WASM↔DotVM bridge (JIT, cache, zero‑copy batch)
  crates/dotvm/runtime/src/wasm/bridge.rs
Owners: @dotvm-maintainer

feat: add security module to core VM system
  crates/dotvm/core/src/lib.rs
Owners: @dotvm-maintainer

feat: implement comprehensive security integration in VM executor
  crates/dotvm/core/src/vm/executor.rs
Owners: @dotvm-maintainer

feat: add security-enabled test infrastructure for VM execution
  crates/dotvm/core/tests/execution_integration_test.rs
Owners: @dotvm-maintainer

feat: integrate security capabilities into CLI execution environment
  crates/dotvm/tools/src/cli/run.rs
Owners: @dotvm-maintainer

feat: implement comprehensive audit logging system for security events
  crates/dotvm/core/src/security/audit_logger.rs
Owners: @dotvm-maintainer

feat: implement capability-based security management system
  crates/dotvm/core/src/security/capability_manager.rs
Owners: @dotvm-maintainer

feat: define comprehensive security error types and result handling
  crates/dotvm/core/src/security/errors.rs
Owners: @dotvm-maintainer

feat: implement execution isolation and boundary management
  crates/dotvm/core/src/security/isolation_manager.rs
Owners: @dotvm-maintainer

feat: add security module entry point and public API exports
  crates/dotvm/core/src/security/mod.rs
Owners: @dotvm-maintainer

feat: implement execution context-based permission checking system
  crates/dotvm/core/src/security/permission_checker.rs
Owners: @dotvm-maintainer

feat: implement runtime security policy enforcement framework
  crates/dotvm/core/src/security/policy_enforcer.rs
Owners: @dotvm-maintainer

feat: implement resource limits and quota enforcement system
  crates/dotvm/core/src/security/resource_limiter.rs
Owners: @dotvm-maintainer

feat: define core security types and data structures
  crates/dotvm/core/src/security/types.rs
Owners: @dotvm-maintainer

feat: implement main security sandbox orchestrator
  crates/dotvm/core/src/security/sandbox.rs
Owners: @dotvm-maintainer
