Repository synerthink/dotlanth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ademclk, @synerthink, @dotvm-maintainer, @dotdb-maintainer, @documentation-team

feat: architecture selection logic, 64 and 128 bit vms
  crates/dotvm/core/src/bytecode.rs
  crates/dotvm/core/src/instruction/architecture_registry.rs
  crates/dotvm/core/src/instruction/bigint.rs
  crates/dotvm/core/src/instruction/control_flow.rs
  crates/dotvm/core/src/instruction/instruction.rs
  crates/dotvm/core/src/instruction/memory.rs
  crates/dotvm/core/src/lib.rs
  crates/dotvm/core/src/memory/allocator.rs
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/memory/page_table.rs
  crates/dotvm/core/src/memory/pool.rs
  crates/dotvm/core/src/memory/protection.rs
  crates/dotvm/core/src/memory/shared_memory.rs
  crates/dotvm/core/src/opcode/state_opcodes.rs
  crates/dotvm/core/src/vm/architecture_detector.rs
  crates/dotvm/core/src/vm/compatibility.rs
  crates/dotvm/core/src/vm/errors.rs
  crates/dotvm/core/src/vm/execution_controller/resource_allocation.rs
  crates/dotvm/core/src/vm/execution_controller/work_stealing_scheduler.rs
  crates/dotvm/core/src/vm/executor.rs
  crates/dotvm/core/src/vm/mod.rs
  crates/dotvm/core/src/vm/multi_arch_executor.rs
  crates/dotvm/core/src/vm/state_management/mvcc.rs
  crates/dotvm/core/src/vm/state_management/verification.rs
  crates/dotvm/core/src/vm/state_storage/versioning.rs
  crates/dotvm/core/src/vm/state_transitions/merge.rs
  crates/dotvm/core/src/vm/state_transitions/rollback.rs
  crates/dotvm/core/src/vm/state_transitions/state_transitions.rs
  crates/dotvm/core/src/vm/state_transitions/validation.rs
  crates/dotvm/core/src/vm/vm_factory.rs
  crates/dotvm/core/tests/lib.rs
Owners: @dotvm-maintainer

fix: ignored allocation strategies
  crates/dotvm/core/src/memory/allocator.rs
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/vm/execution_controller/resource_allocation.rs
  crates/dotvm/core/src/vm/execution_controller/work_stealing_scheduler.rs
  crates/dotvm/core/src/vm/vm_factory.rs
Owners: @dotvm-maintainer

feat: implement codegen, transpiler, wasm foundations
  Cargo.lock
  crates/dotvm/compiler/Cargo.toml
  crates/dotvm/compiler/src/codegen/dotvm_generator.rs
  crates/dotvm/compiler/src/codegen/mod.rs
  crates/dotvm/compiler/src/transpiler/engine.rs
  crates/dotvm/compiler/src/transpiler/mod.rs
  crates/dotvm/compiler/src/wasm/ast.rs
  crates/dotvm/compiler/src/wasm/mod.rs
  crates/dotvm/compiler/src/wasm/opcode_mapper.rs
  crates/dotvm/compiler/src/wasm/parser.rs
  crates/dotvm/core/src/bytecode.rs
Owners: @synerthink, @dotvm-maintainer

feat: implement advanced transpilation features
  crates/dotvm/compiler/src/extensions/detector.rs
  crates/dotvm/compiler/src/extensions/math_ops.rs
  crates/dotvm/compiler/src/extensions/mod.rs
  crates/dotvm/compiler/src/extensions/simd.rs
  crates/dotvm/compiler/src/extensions/vector.rs
  crates/dotvm/core/src/bytecode.rs
  crates/dotvm/core/src/instruction/architecture_registry.rs
  crates/dotvm/core/src/instruction/bigint.rs
  crates/dotvm/core/src/opcode/architecture_opcodes.rs
  crates/dotvm/core/src/opcode/bigint_opcodes.rs
  crates/dotvm/core/src/opcode/math_opcodes.rs
  crates/dotvm/core/src/opcode/mod.rs
  crates/dotvm/core/src/opcode/parallel_opcodes.rs
  crates/dotvm/core/src/opcode/simd_opcodes.rs
  crates/dotvm/core/src/opcode/vector_opcodes.rs
Owners: @dotvm-maintainer

fmt: compiler & core
  crates/dotvm/compiler/src/extensions/detector.rs
  crates/dotvm/compiler/src/extensions/math_ops.rs
  crates/dotvm/compiler/src/extensions/mod.rs
  crates/dotvm/compiler/src/extensions/simd.rs
  crates/dotvm/compiler/src/extensions/vector.rs
  crates/dotvm/core/src/instruction/architecture_registry.rs
  crates/dotvm/core/src/opcode/architecture_opcodes.rs
  crates/dotvm/core/src/opcode/bigint_opcodes.rs
  crates/dotvm/core/src/opcode/math_opcodes.rs
  crates/dotvm/core/src/opcode/parallel_opcodes.rs
  crates/dotvm/core/src/opcode/simd_opcodes.rs
  crates/dotvm/core/src/opcode/vector_opcodes.rs
Owners: @dotvm-maintainer

feat: end-to-end pipeline, runtime integration, optimizations and validation for compiler
  Cargo.lock
  crates/dotvm/compiler/src/codegen/dotvm_generator.rs
  crates/dotvm/compiler/src/optimizer/constant_folding.rs
  crates/dotvm/compiler/src/optimizer/dead_code.rs
  crates/dotvm/compiler/src/optimizer/mod.rs
  crates/dotvm/compiler/src/optimizer/peephole.rs
  crates/dotvm/compiler/src/transpiler/engine.rs
  crates/dotvm/compiler/src/wasm/opcode_mapper.rs
  crates/dotvm/compiler/tests/integration_tests.rs
  crates/dotvm/core/tests/multi_arch_tests.rs
  crates/dotvm/runtime/Cargo.toml
  crates/dotvm/runtime/src/rollback/state.rs
  crates/dotvm/runtime/src/transpiler_integration.rs
  crates/dotvm/tools/Cargo.toml
  crates/dotvm/tools/src/cli/mod.rs
  crates/dotvm/tools/src/cli/transpile.rs
  crates/dotvm/tools/src/lib.rs
  crates/dotvm/tools/src/main.rs
Owners: @synerthink, @dotvm-maintainer

fmt: codegen, optimizer, wasm, runtime, cli
  crates/dotvm/compiler/src/codegen/dotvm_generator.rs
  crates/dotvm/compiler/src/optimizer/constant_folding.rs
  crates/dotvm/compiler/src/optimizer/dead_code.rs
  crates/dotvm/compiler/src/optimizer/mod.rs
  crates/dotvm/compiler/src/optimizer/peephole.rs
  crates/dotvm/compiler/src/wasm/opcode_mapper.rs
  crates/dotvm/compiler/tests/integration_tests.rs
  crates/dotvm/core/tests/multi_arch_tests.rs
  crates/dotvm/runtime/src/transpiler_integration.rs
  crates/dotvm/tools/src/cli/mod.rs
  crates/dotvm/tools/src/cli/transpile.rs
  crates/dotvm/tools/src/lib.rs
  crates/dotvm/tools/src/main.rs
Owners: @dotvm-maintainer

feat: implementation of database engine, cli foundation
  Cargo.lock
  Cargo.toml
  crates/dotdb/cli/Cargo.toml
  crates/dotdb/cli/src/main.rs
  crates/dotdb/core/Cargo.toml
  crates/dotdb/core/src/document/collection.rs
  crates/dotdb/core/src/document/mod.rs
  crates/dotdb/core/src/document/storage.rs
  crates/dotdb/core/src/lib.rs
  crates/dotdb/core/tests/showcase_test.rs
Owners: @synerthink, @dotdb-maintainer

feat: implement core execution engine
  crates/dotdb/core/build.rs
  crates/dotdb/core/src/document/collection.rs
  crates/dotdb/core/src/document/mod.rs
  crates/dotdb/core/src/document/storage.rs
  crates/dotvm/core/src/bytecode.rs
  crates/dotvm/core/src/dots/validation.rs
  crates/dotvm/core/src/instruction/bigint.rs
  crates/dotvm/core/src/memory/protection.rs
  crates/dotvm/core/src/opcode/mod.rs
  crates/dotvm/core/src/opcode/stack_opcodes.rs
  crates/dotvm/core/src/vm/compatibility.rs
  crates/dotvm/core/src/vm/execution_controller/load_balancing.rs
  crates/dotvm/core/src/vm/execution_controller/work_stealing_scheduler.rs
  crates/dotvm/core/src/vm/executor.rs
  crates/dotvm/core/src/vm/mod.rs
  crates/dotvm/core/src/vm/multi_arch_executor.rs
  crates/dotvm/core/src/vm/stack.rs
  crates/dotvm/core/tests/execution_integration_test.rs
Owners: @dotdb-maintainer, @dotvm-maintainer

fix: clippy errors
  crates/dotvm/core/src/vm/compatibility.rs
  crates/dotvm/core/src/vm/execution_controller/work_stealing_scheduler.rs
  crates/dotvm/core/src/vm/multi_arch_executor.rs
Owners: @dotvm-maintainer

feat: implement test program
  basic_program.dotvm
  crates/dotvm/core/Cargo.toml
  crates/dotvm/core/src/opcode/db_opcodes.rs
  crates/dotvm/core/src/opcode/mod.rs
  crates/dotvm/core/src/vm/database_bridge.rs
  crates/dotvm/core/src/vm/executor.rs
  crates/dotvm/core/src/vm/mod.rs
  crates/dotvm/core/src/vm/stack.rs
  crates/dotvm/core/tests/database_integration_test.rs
  crates/dotvm/tools/src/cli/mod.rs
  crates/dotvm/tools/src/cli/run.rs
  crates/dotvm/tools/src/main.rs
  no_constants.dotvm
  simple_test.rs
  test_basic.rs
  test_no_constants.rs
  test_program.dotvm
  test_showcase.rs
  test_simple.rs
Owners: @synerthink, @dotvm-maintainer

fix: unused imports and clean up code formatting
  Cargo.lock
  crates/dotdb/core/src/compaction/manager.rs
  crates/dotdb/core/src/indices/b_plus_tree.rs
  crates/dotvm/compiler/src/codegen/dotvm_generator.rs
  crates/dotvm/compiler/src/extensions/math_ops.rs
  crates/dotvm/compiler/src/optimizer/constant_folding.rs
  crates/dotvm/compiler/src/optimizer/dead_code.rs
  crates/dotvm/compiler/src/optimizer/peephole.rs
  crates/dotvm/compiler/src/transpiler/engine.rs
  crates/dotvm/compiler/src/wasm/ast.rs
  crates/dotvm/compiler/src/wasm/parser.rs
  crates/dotvm/core/src/opcode/db_opcodes.rs
  crates/dotvm/core/src/vm/database_bridge.rs
  crates/dotvm/core/src/vm/executor.rs
  crates/dotvm/core/src/vm/stack.rs
  crates/dotvm/core/tests/database_integration_test.rs
  crates/dotvm/runtime/src/async_runtime/cancellation.rs
  crates/dotvm/runtime/src/async_runtime/executor.rs
  crates/dotvm/runtime/src/async_runtime/polling.rs
  crates/dotvm/runtime/src/events/dispatcher.rs
  crates/dotvm/runtime/src/events/lib.rs
  crates/dotvm/runtime/src/finalizer/instant_finality.rs
  crates/dotvm/runtime/src/rollback/checkpoint.rs
  crates/dotvm/runtime/src/rollback/recovery.rs
  crates/dotvm/runtime/src/transpiler_integration.rs
  crates/dotvm/runtime/src/validation/state_transition.rs
  crates/dotvm/tools/src/cli/run.rs
  crates/dotvm/tools/src/main.rs
Owners: @synerthink, @dotdb-maintainer, @dotvm-maintainer

fix: custom flags for linux builds
  crates/dotdb/core/src/compaction/strategy.rs
  crates/dotdb/core/src/io/direct_io.rs
  crates/dotvm/compiler/src/extensions/simd.rs
Owners: @dotdb-maintainer, @dotvm-maintainer

fix: protection.rs
  crates/dotvm/core/src/memory/protection.rs
Owners: @dotvm-maintainer

fix: failing tests
  crates/dotdb/core/src/storage_engine/buffer_manager.rs
  crates/dotdb/core/src/storage_engine/occ.rs
  crates/dotdb/core/src/storage_engine/transaction.rs
  crates/dotvm/core/src/memory/protection.rs
  crates/dotvm/core/src/vm/execution_controller/work_stealing_scheduler.rs
  crates/dotvm/runtime/src/async_runtime/cancellation.rs
  crates/dotvm/runtime/src/async_runtime/executor.rs
  crates/dotvm/runtime/src/async_runtime/polling.rs
  crates/dotvm/runtime/src/async_runtime/scheduler.rs
  crates/dotvm/runtime/src/events/filter.rs
  crates/dotvm/runtime/src/events/queue.rs
  crates/dotvm/runtime/src/finalizer/instant_finality.rs
  crates/dotvm/runtime/src/rollback/recovery.rs
Owners: @dotdb-maintainer, @dotvm-maintainer

refactor: compiler codegen
  crates/dotvm/compiler/src/codegen/config.rs
  crates/dotvm/compiler/src/codegen/dotvm_generator.rs
  crates/dotvm/compiler/src/codegen/error.rs
  crates/dotvm/compiler/src/codegen/generator.rs
  crates/dotvm/compiler/src/codegen/mod.rs
  crates/dotvm/compiler/src/codegen/optimizer.rs
  crates/dotvm/compiler/src/codegen/sections/code.rs
  crates/dotvm/compiler/src/codegen/sections/data.rs
  crates/dotvm/compiler/src/codegen/sections/debug.rs
  crates/dotvm/compiler/src/codegen/sections/export_import.rs
  crates/dotvm/compiler/src/codegen/sections/function_table.rs
  crates/dotvm/compiler/src/codegen/sections/header.rs
  crates/dotvm/compiler/src/codegen/sections/mod.rs
  crates/dotvm/compiler/src/codegen/writer.rs
  crates/dotvm/compiler/src/optimizer/constant_folding.rs
  crates/dotvm/compiler/src/optimizer/peephole.rs
  crates/dotvm/compiler/src/transpiler/engine.rs
  crates/dotvm/compiler/tests/integration_tests.rs
  crates/dotvm/runtime/src/transpiler_integration.rs
  crates/dotvm/tools/src/cli/transpile.rs
Owners: @dotvm-maintainer

refactor: compiler dependency analysis
  Cargo.lock
  crates/dotvm/compiler/Cargo.toml
  crates/dotvm/compiler/src/dependency_analysis.rs
  crates/dotvm/compiler/src/dependency_analysis/analyzers/control_flow.rs
  crates/dotvm/compiler/src/dependency_analysis/analyzers/data_flow.rs
  crates/dotvm/compiler/src/dependency_analysis/analyzers/mod.rs
  crates/dotvm/compiler/src/dependency_analysis/analyzers/state_access.rs
  crates/dotvm/compiler/src/dependency_analysis/config.rs
  crates/dotvm/compiler/src/dependency_analysis/detection/dependency_detector.rs
  crates/dotvm/compiler/src/dependency_analysis/detection/mod.rs
  crates/dotvm/compiler/src/dependency_analysis/detection/pattern_matcher.rs
  crates/dotvm/compiler/src/dependency_analysis/engine.rs
  crates/dotvm/compiler/src/dependency_analysis/mod.rs
Owners: @synerthink, @dotvm-maintainer

refactor: edge creation for nodes
  crates/dotvm/compiler/src/dependency_analysis/analyzers/control_flow.rs
Owners: @dotvm-maintainer

refactor: compiler parser
  crates/dotvm/compiler/src/parser/common/error.rs
  crates/dotvm/compiler/src/parser/common/mod.rs
  crates/dotvm/compiler/src/parser/common/position.rs
  crates/dotvm/compiler/src/parser/common/token.rs
  crates/dotvm/compiler/src/parser/dotvm/lexer.rs
  crates/dotvm/compiler/src/parser/dotvm/mod.rs
  crates/dotvm/compiler/src/parser/mod.rs
  crates/dotvm/compiler/src/parser/traits.rs
Owners: @dotvm-maintainer

refactor: compiler transpiler
  crates/dotvm/compiler/src/transpiler/adapters/calling_convention.rs
  crates/dotvm/compiler/src/transpiler/adapters/instruction_set.rs
  crates/dotvm/compiler/src/transpiler/adapters/memory_model.rs
  crates/dotvm/compiler/src/transpiler/adapters/mod.rs
  crates/dotvm/compiler/src/transpiler/analysis/architecture.rs
  crates/dotvm/compiler/src/transpiler/analysis/complexity.rs
  crates/dotvm/compiler/src/transpiler/analysis/control_flow.rs
  crates/dotvm/compiler/src/transpiler/analysis/dependencies.rs
  crates/dotvm/compiler/src/transpiler/analysis/mod.rs
  crates/dotvm/compiler/src/transpiler/config.rs
  crates/dotvm/compiler/src/transpiler/engine_new.rs
  crates/dotvm/compiler/src/transpiler/error.rs
  crates/dotvm/compiler/src/transpiler/mod.rs
  crates/dotvm/compiler/src/transpiler/pipeline/analyzer.rs
  crates/dotvm/compiler/src/transpiler/pipeline/mod.rs
  crates/dotvm/compiler/src/transpiler/pipeline/pipeline_builder.rs
  crates/dotvm/compiler/src/transpiler/pipeline/postprocessor.rs
  crates/dotvm/compiler/src/transpiler/pipeline/preprocessor.rs
  crates/dotvm/compiler/src/transpiler/pipeline/translator.rs
  crates/dotvm/compiler/src/transpiler/processors/exports_processor.rs
  crates/dotvm/compiler/src/transpiler/processors/function_processor.rs
  crates/dotvm/compiler/src/transpiler/processors/globals_processor.rs
  crates/dotvm/compiler/src/transpiler/processors/instruction_processor.rs
  crates/dotvm/compiler/src/transpiler/processors/memory_processor.rs
  crates/dotvm/compiler/src/transpiler/processors/mod.rs
  crates/dotvm/compiler/src/transpiler/processors/module_processor.rs
  crates/dotvm/compiler/src/transpiler/test_basic.rs
  crates/dotvm/compiler/src/transpiler/types/exports_imports.rs
  crates/dotvm/compiler/src/transpiler/types/function.rs
  crates/dotvm/compiler/src/transpiler/types/instruction.rs
  crates/dotvm/compiler/src/transpiler/types/mod.rs
  crates/dotvm/compiler/src/transpiler/types/module.rs
  crates/dotvm/compiler/src/transpiler/types/variables.rs
Owners: @dotvm-maintainer

refactor: compiler wasm
  .cargo/config.toml
  .gitignore
  crates/dotvm/compiler/src/transpiler/engine.rs
  crates/dotvm/compiler/src/transpiler/error.rs
  crates/dotvm/compiler/src/transpiler/pipeline/analyzer.rs
  crates/dotvm/compiler/src/transpiler/processors/exports_processor.rs
  crates/dotvm/compiler/src/transpiler/processors/globals_processor.rs
  crates/dotvm/compiler/src/transpiler/processors/instruction_processor.rs
  crates/dotvm/compiler/src/transpiler/processors/memory_processor.rs
  crates/dotvm/compiler/src/wasm/PHASE4_SUMMARY.md
  crates/dotvm/compiler/src/wasm/ast.rs
  crates/dotvm/compiler/src/wasm/ast/instructions.rs
  crates/dotvm/compiler/src/wasm/ast/mod.rs
  crates/dotvm/compiler/src/wasm/ast/module.rs
  crates/dotvm/compiler/src/wasm/ast/sections.rs
  crates/dotvm/compiler/src/wasm/ast/types.rs
  crates/dotvm/compiler/src/wasm/error.rs
  crates/dotvm/compiler/src/wasm/features.rs
  crates/dotvm/compiler/src/wasm/mapping.rs
  crates/dotvm/compiler/src/wasm/opcode_mapper.rs
  crates/dotvm/compiler/src/wasm/parser.rs
  crates/dotvm/compiler/src/wasm/parser/config.rs
  crates/dotvm/compiler/src/wasm/parser/context.rs
  crates/dotvm/compiler/src/wasm/parser/core.rs
  crates/dotvm/compiler/src/wasm/parser/mod.rs
  crates/dotvm/compiler/src/wasm/sections.rs
  crates/dotvm/compiler/src/wasm/test_integration.rs
  crates/dotvm/compiler/src/wasm/validation.rs
  crates/dotvm/compiler/tests/integration_tests.rs
  crates/dotvm/runtime/src/transpiler_integration.rs
  crates/dotvm/tools/src/cli/transpile.rs
Owners: @synerthink, @dotvm-maintainer

feat: implement dotlanth-cli foundations
  Cargo.lock
  Cargo.toml
  crates/dotlanth-cli/Cargo.toml
  crates/dotlanth-cli/src/main.rs
  crates/dotvm/compiler/src/wasm/PHASE4_SUMMARY.md
Owners: @synerthink, @dotvm-maintainer

feat: implement placeholder cli ui elements
  Cargo.lock
  crates/dotlanth-cli/Cargo.toml
  crates/dotlanth-cli/src/commands/backup.rs
  crates/dotlanth-cli/src/commands/cluster.rs
  crates/dotlanth-cli/src/commands/config.rs
  crates/dotlanth-cli/src/commands/deploy.rs
  crates/dotlanth-cli/src/commands/mod.rs
  crates/dotlanth-cli/src/commands/monitor.rs
  crates/dotlanth-cli/src/commands/nodes.rs
  crates/dotlanth-cli/src/config.rs
  crates/dotlanth-cli/src/database.rs
  crates/dotlanth-cli/src/main.rs
  crates/dotlanth-cli/src/tui/app.rs
  crates/dotlanth-cli/src/tui/components/mod.rs
  crates/dotlanth-cli/src/tui/events.rs
  crates/dotlanth-cli/src/tui/mod.rs
  crates/dotlanth-cli/src/tui/ui.rs
  docs/src/cli/justfile-commands.md
  justfile
  test_contract.dot
Owners: @synerthink, @documentation-team

feat: persistence for dotdb
  crates/dotdb/cli/src/main.rs
  crates/dotdb/core/src/state/db_interface.rs
  crates/dotvm/core/src/vm/database_bridge.rs
Owners: @dotdb-maintainer, @dotvm-maintainer

fmt: dotdb
  crates/dotdb/cli/src/main.rs
  crates/dotdb/core/src/state/db_interface.rs
  crates/dotvm/core/src/vm/database_bridge.rs
Owners: @dotdb-maintainer, @dotvm-maintainer

fix: dotdb interface
  .gitignore
  crates/dotdb/core/src/state/db_interface.rs
Owners: @synerthink, @dotdb-maintainer

refactor(compiler): codegen
  crates/dotvm/compiler/src/codegen/core/context.rs
  crates/dotvm/compiler/src/codegen/core/generator.rs
  crates/dotvm/compiler/src/codegen/core/mod.rs
  crates/dotvm/compiler/src/codegen/core/pipeline.rs
  crates/dotvm/compiler/src/codegen/core/registry.rs
  crates/dotvm/compiler/src/codegen/error.rs
  crates/dotvm/compiler/src/codegen/generator.rs
  crates/dotvm/compiler/src/codegen/mod.rs
  crates/dotvm/compiler/src/codegen/optimizer.rs
  crates/dotvm/compiler/src/codegen/sections/code.rs
  crates/dotvm/compiler/src/codegen/sections/data.rs
  crates/dotvm/compiler/src/codegen/sections/debug.rs
  crates/dotvm/compiler/src/codegen/sections/export_import.rs
  crates/dotvm/compiler/src/codegen/sections/function_table.rs
  crates/dotvm/compiler/src/codegen/sections/header.rs
  crates/dotvm/compiler/src/codegen/sections/mod.rs
  crates/dotvm/compiler/src/codegen/sections/traits.rs
  crates/dotvm/compiler/src/codegen/writers/buffer.rs
  crates/dotvm/compiler/src/codegen/writers/bytecode.rs
  crates/dotvm/compiler/src/codegen/writers/formatter.rs
  crates/dotvm/compiler/src/codegen/writers/mod.rs
  crates/dotvm/compiler/src/codegen/writers/patch.rs
  crates/dotvm/compiler/src/codegen/writers/traits.rs
  crates/dotvm/compiler/src/transpiler/mod.rs
Owners: @dotvm-maintainer

refactor(compiler): optimizer
  crates/dotvm/compiler/src/optimizer/analysis/cfg.rs
  crates/dotvm/compiler/src/optimizer/analysis/def_use.rs
  crates/dotvm/compiler/src/optimizer/analysis/dominators.rs
  crates/dotvm/compiler/src/optimizer/analysis/loops.rs
  crates/dotvm/compiler/src/optimizer/analysis/mod.rs
  crates/dotvm/compiler/src/optimizer/analysis/side_effects.rs
  crates/dotvm/compiler/src/optimizer/framework/cache.rs
  crates/dotvm/compiler/src/optimizer/framework/metrics.rs
  crates/dotvm/compiler/src/optimizer/framework/mod.rs
  crates/dotvm/compiler/src/optimizer/framework/pass.rs
  crates/dotvm/compiler/src/optimizer/framework/pipeline.rs
  crates/dotvm/compiler/src/optimizer/framework/scheduler.rs
  crates/dotvm/compiler/src/optimizer/mod.rs
  crates/dotvm/compiler/src/optimizer/passes/constant_folding/folding.rs
  crates/dotvm/compiler/src/optimizer/passes/constant_folding/mod.rs
  crates/dotvm/compiler/src/optimizer/passes/dead_code/eliminator.rs
  crates/dotvm/compiler/src/optimizer/passes/dead_code/mod.rs
  crates/dotvm/compiler/src/optimizer/passes/mod.rs
  crates/dotvm/compiler/src/optimizer/passes/peephole/mod.rs
  crates/dotvm/compiler/src/optimizer/peephole.rs
  crates/dotvm/compiler/src/optimizer/profiling/hotspots.rs
  crates/dotvm/compiler/src/optimizer/profiling/mod.rs
  crates/dotvm/compiler/src/optimizer/profiling/profiler.rs
  crates/dotvm/compiler/src/optimizer/profiling/suggestions.rs
  crates/dotvm/compiler/tests/integration_tests.rs
Owners: @dotvm-maintainer

feat: implement grpc services and update tui for grpc testing
  Cargo.lock
  crates/dotlanth-cli/src/main.rs
  crates/dotlanth-cli/src/tui/app.rs
  crates/dotlanth-cli/src/tui/components/grpc_endpoints.rs
  crates/dotlanth-cli/src/tui/components/grpc_server.rs
  crates/dotlanth-cli/src/tui/components/mod.rs
  crates/dotlanth-cli/src/tui/mod.rs
  crates/dotlanth-cli/src/tui/ui.rs
  crates/dotvm/runtime/Cargo.toml
  crates/dotvm/runtime/build.rs
  crates/dotvm/runtime/src/main.rs
  crates/dotvm/runtime/src/middleware/auth.rs
  crates/dotvm/runtime/src/middleware/compression.rs
  crates/dotvm/runtime/src/middleware/connection_pool.rs
  crates/dotvm/runtime/src/middleware/mod.rs
  crates/dotvm/runtime/src/middleware/rate_limit.rs
  crates/dotvm/runtime/src/middleware/security.rs
  crates/dotvm/runtime/src/middleware/tracing.rs
  crates/dotvm/runtime/src/services/health.rs
  crates/dotvm/runtime/src/services/streaming.rs
  crates/dotvm/runtime/src/services/vm_service.rs
  crates/dotvm/runtime/src/streaming/dot_events.rs
  crates/dotvm/runtime/src/streaming/mod.rs
  crates/dotvm/runtime/src/streaming/vm_metrics.rs
Owners: @synerthink, @dotvm-maintainer

feat(grpc): advanced features & ubuntu fix
  crates/dotlanth-cli/src/tui/app.rs
  crates/dotlanth-cli/src/tui/components/grpc_endpoints.rs
  crates/dotvm/runtime/proto/vm_service.proto
  crates/dotvm/runtime/src/main.rs
  crates/dotvm/runtime/src/services/vm_service.rs
Owners: @synerthink, @dotvm-maintainer

fix(grpc): configuration for ipv6/v4
  crates/dotlanth-cli/src/config.rs
  crates/dotlanth-cli/src/tui/app.rs
  crates/dotlanth-cli/src/tui/ui.rs
  crates/dotvm/runtime/src/config.rs
  crates/dotvm/runtime/src/main.rs
Owners: @synerthink, @dotvm-maintainer

fmt: dotlanth-cli & runtime
  crates/dotlanth-cli/src/tui/app.rs
  crates/dotlanth-cli/src/tui/components/grpc_endpoints.rs
  crates/dotlanth-cli/src/tui/ui.rs
  crates/dotvm/runtime/src/config.rs
  crates/dotvm/runtime/src/main.rs
Owners: @synerthink, @dotvm-maintainer

fix: rst_stream cancel
  crates/dotlanth-cli/src/tui/app.rs
  crates/dotlanth-cli/src/tui/components/grpc_endpoints.rs
  crates/dotvm/runtime/server.log
  crates/dotvm/runtime/src/main.rs
Owners: @synerthink, @dotvm-maintainer

fix: grpc endpoints for streaming
  crates/dotlanth-cli/src/tui/components/grpc_endpoints.rs
  crates/dotvm/runtime/server.log
  crates/dotvm/runtime/src/main.rs
Owners: @synerthink, @dotvm-maintainer

feat: update dockerfiles, compose, and cleanup root
  Dockerfile.dev
  Dockerfile.prod
  basic_program.dotvm
  configs/gateway.toml
  configs/master-1-no-tls.toml
  configs/master-1.toml
  configs/nginx.conf
  configs/storage-1.toml
  configs/worker-1.toml
  crates/dotlanth-cli/src/tui/monitoring.rs
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/connection_plan_review.md
  docs/overall_roadmap.md
  justfile
  monitoring/grafana/datasources/prometheus.yml
  monitoring/prometheus/dotlanth_alerts.yml
  no_constants.dotvm
  simple_test.rs
  test_basic.rs
  test_contract.dot
  test_no_constants.rs
  test_program.dotvm
  test_showcase.rs
  test_simple.rs
Owners: @synerthink, @documentation-team

fix: justfile
  docker-compose.dev.yml
  justfile
Owners: @synerthink

feat(deployment): freebsd scripts
  justfile
  scripts/deploy-freebsd.sh
  scripts/setup-monitoring.sh
Owners: @synerthink

fix(deployment): hanging issue
  scripts/deploy-freebsd.sh
Owners: @synerthink

fix(docker): paths
  Dockerfile.prod
  docker-compose.dev.yml
Owners: @synerthink

feat(dotvm-runtime): Establish wasm runtime modules and public interface exports
  crates/dotvm/runtime/src/lib.rs
  crates/dotvm/runtime/src/wasm/mod.rs
Owners: @dotvm-maintainer

.github/CODEOWNERS:

# CODEOWNERS

# Define the default code owners for the repository
* @ademclk
* @synerthink

# Specify code owners for specific directories or files
/crates/dotvm/ @dotvm-maintainer
/crates/dotdb/ @dotdb-maintainer
/docs/ @documentation-team
