Repository synerthink/dotlanth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ademclk, @synerthink, @dotvm-maintainer, @dotdb-maintainer, @documentation-team

fix: protobuf compiler
  .github/workflows/ci.yml
Owners: @synerthink

fix: add sudo
  .github/workflows/ci.yml
Owners: @synerthink

fix: lint-check failing
  .github/workflows/ci.yml
  crates/dotvm/core/src/memory/allocator.rs
  crates/dotvm/core/src/memory/mod.rs
Owners: @synerthink, @dotvm-maintainer

fix: remove some tests
  crates/dotvm/core/src/memory/mod.rs
Owners: @dotvm-maintainer

fix: tests, remove dependabot
  .github/dependabot.yml
  crates/dotvm/core/src/memory/mod.rs
Owners: @synerthink, @dotvm-maintainer

fmt: cargo fmt
  crates/dotvm/core/src/memory/allocator.rs
  crates/dotvm/core/src/memory/page_table.rs
Owners: @dotvm-maintainer

feat: unit tests for bounds checking
  crates/dotvm/core/src/memory/mod.rs
Owners: @dotvm-maintainer

feat: unit tests for memory access permissions
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/memory/protection.rs
  crates/dotvm/core/src/memory/shared_memory.rs
  crates/dotvm/runtime/src/contracts/mod.rs
Owners: @dotvm-maintainer

devcontainer: add protobuf compiler for newest rust versions
  .devcontainer/Dockerfile
Owners: @synerthink

feat: unit tests for memory isolation between contracts
  crates/dotvm/core/src/memory/allocator.rs
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/memory/page_table.rs
  crates/dotvm/core/src/memory/protection.rs
  crates/dotvm/runtime/src/contracts/mod.rs
Owners: @dotvm-maintainer

feat: unit tests for shared memory regions
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/memory/protection.rs
  crates/dotvm/core/src/memory/shared_memory.rs
  crates/dotvm/runtime/src/contracts/mod.rs
Owners: @dotvm-maintainer

fix: feat: Enhance memory management system with critical fixes and features
  Cargo.lock
  crates/dotvm/core/Cargo.toml
  crates/dotvm/core/src/memory/allocator.rs
  crates/dotvm/core/src/memory/error.rs
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/memory/protection.rs
  crates/dotvm/core/src/memory/shared_memory.rs
Owners: @synerthink, @dotvm-maintainer

fix: feat: Enhance memory management system with critical fixes and features
  Cargo.lock
  crates/dotvm/core/Cargo.toml
  crates/dotvm/core/src/memory/allocator.rs
  crates/dotvm/core/src/memory/error.rs
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/memory/protection.rs
  crates/dotvm/core/src/memory/shared_memory.rs
Owners: @synerthink, @dotvm-maintainer

feat: scaffold for arithmetic operations
  crates/dotvm/core/src/instruction/arithmetic.rs
  crates/dotvm/core/src/instruction/mod.rs
Owners: @dotvm-maintainer

feat: scaffold for control flow operations
  crates/dotvm/core/src/instruction/arithmetic.rs
  crates/dotvm/core/src/instruction/control_flow.rs
  crates/dotvm/core/src/instruction/mod.rs
  crates/dotvm/core/src/memory/allocator.rs
  crates/dotvm/core/src/memory/protection.rs
  docs/src/DOTVM-12_Core_Instruction_Set_Implementation_Plan.md
Owners: @dotvm-maintainer, @documentation-team

feat(instruction): Add arithmetic operations and control flow mechanisms
  crates/dotvm/core/src/instruction/arithmetic.rs
  crates/dotvm/core/src/instruction/control_flow.rs
Owners: @dotvm-maintainer

Ensure memory_ops tests follow TDD approach
  crates/dotvm/core/src/instruction/mod.rs
Owners: @dotvm-maintainer

feat: scaffold for memory operations
  crates/dotvm/core/src/instruction/memory_ops.rs
Owners: @dotvm-maintainer

docs: remove unnecessary file
  docs/src/DOTVM-12_Core_Instruction_Set_Implementation_Plan.md
Owners: @documentation-team

override test
  crates/dotvm/core/src/instruction/arithmetic.rs
Owners: @dotvm-maintainer

feat: better design for instruction sets
  crates/dotvm/core/src/instruction/arithmetic.rs
  crates/dotvm/core/src/instruction/control_flow.rs
  crates/dotvm/core/src/instruction/factory.rs
  crates/dotvm/core/src/instruction/instruction.rs
  crates/dotvm/core/src/instruction/mod.rs
  crates/dotvm/core/src/lib.rs
  crates/dotvm/core/src/opcode/arithmetic_opcodes.rs
  crates/dotvm/core/src/opcode/control_flow_opcodes.rs
  crates/dotvm/core/src/opcode/memory_opcodes.rs
  crates/dotvm/core/src/opcode/mod.rs
  crates/dotvm/core/src/operand/mod.rs
  crates/dotvm/core/src/operand/operands.rs
  crates/dotvm/core/src/vm/errors.rs
  crates/dotvm/core/src/vm/executor.rs
  crates/dotvm/runtime/src/contracts/mod.rs
Owners: @dotvm-maintainer

feat: implement memory operations
  crates/dotvm/core/src/instruction/factory.rs
  crates/dotvm/core/src/instruction/memory.rs
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/vm/errors.rs
Owners: @dotvm-maintainer

feat: instruction registry
  crates/dotvm/core/src/instruction/factory.rs
  crates/dotvm/core/src/instruction/mod.rs
  crates/dotvm/core/src/instruction/registry.rs
  crates/dotvm/core/src/vm/executor.rs
Owners: @dotvm-maintainer

feat: better architecture for instruction sets
  Cargo.lock
  crates/dotvm/core/Cargo.toml
  crates/dotvm/core/src/instruction/crypto.rs
  crates/dotvm/core/src/instruction/mod.rs
  crates/dotvm/core/src/instruction/registry.rs
  crates/dotvm/core/src/instruction/system_call.rs
  crates/dotvm/core/src/opcode/crypto_opcodes.rs
  crates/dotvm/core/src/opcode/mod.rs
  crates/dotvm/core/src/opcode/system_call_opcodes.rs
  crates/dotvm/core/src/vm/errors.rs
Owners: @synerthink, @dotvm-maintainer

fix: formatting
  crates/dotvm/core/src/instruction/arithmetic.rs
  crates/dotvm/core/src/instruction/crypto.rs
  crates/dotvm/core/src/instruction/memory.rs
  crates/dotvm/core/src/instruction/registry.rs
  crates/dotvm/core/src/instruction/system_call.rs
  crates/dotvm/core/src/memory/allocator.rs
  crates/dotvm/core/src/memory/mod.rs
  crates/dotvm/core/src/memory/page_table.rs
  crates/dotvm/core/src/memory/pool.rs
  crates/dotvm/core/src/memory/protection.rs
  crates/dotvm/core/src/memory/shared_memory.rs
  crates/dotvm/core/src/opcode/arithmetic_opcodes.rs
  crates/dotvm/core/src/opcode/control_flow_opcodes.rs
  crates/dotvm/core/src/opcode/memory_opcodes.rs
  crates/dotvm/core/src/vm/executor.rs
  crates/dotvm/core/tests/lib.rs
  crates/dotvm/core/tests/memory/mod.rs
  crates/dotvm/runtime/src/main.rs
  rustfmt.toml
Owners: @dotvm-maintainer, @synerthink

fix: formatting error
  crates/dotvm/core/src/memory/page_table.rs
Owners: @dotvm-maintainer

fix: use skip to prevent formatting errors
  crates/dotvm/core/src/memory/page_table.rs
Owners: @dotvm-maintainer

feat: scaffold of state storage interface
  crates/dotvm/core/src/vm/state_storage/mod.rs
  crates/dotvm/core/src/vm/state_storage/state_storage.rs
Owners: @dotvm-maintainer

feat: scaffold of state serialization
  Cargo.lock
  crates/dotvm/core/Cargo.toml
  crates/dotvm/core/src/vm/state_storage/mod.rs
  crates/dotvm/core/src/vm/state_storage/serialization.rs
Owners: @synerthink, @dotvm-maintainer

feat(state_storage): implement thread-safe HashMap-based storage
  crates/dotvm/core/src/vm/state_storage/state_storage.rs
Owners: @dotvm-maintainer

feat(serialization): implement JSON and binary serialization strategies
  Cargo.lock
  Cargo.toml
  crates/dotvm/core/Cargo.toml
  crates/dotvm/core/src/vm/state_storage/serialization.rs
Owners: @synerthink, @dotvm-maintainer

feat: scaffold of state versioning
  crates/dotvm/core/src/vm/state_storage/mod.rs
  crates/dotvm/core/src/vm/state_storage/versioning.rs
Owners: @dotvm-maintainer

feat: scaffold of state snapshot
  crates/dotvm/core/src/vm/state_storage/mod.rs
  crates/dotvm/core/src/vm/state_storage/snapshot.rs
Owners: @dotvm-maintainer

feat(versioning): Implement state migration logic
  crates/dotvm/core/src/vm/state_storage/versioning.rs
Owners: @dotvm-maintainer

feat(snapshot): Implement state snapshot functionality with capture, restoration, and cleanup
  crates/dotvm/core/src/vm/state_storage/snapshot.rs
Owners: @dotvm-maintainer

feat(snapshot): Implement state snapshot functionality with capture, restoration, and cleanup
  crates/dotvm/core/src/vm/state_storage/snapshot.rs
Owners: @dotvm-maintainer

feat: scaffold of state transition
  crates/dotvm/core/src/state_transitions.rs
  crates/dotvm/core/src/vm/state_transitions/merge.rs
  crates/dotvm/core/src/vm/state_transitions/mod.rs
  crates/dotvm/core/src/vm/state_transitions/rollback.rs
  crates/dotvm/core/src/vm/state_transitions/state_transitions.rs
  crates/dotvm/core/src/vm/state_transitions/validation.rs
Owners: @dotvm-maintainer

feat: scaffold of contract lifecycle
  crates/dotvm/runtime/src/contracts/contract_manager.rs
  crates/dotvm/runtime/src/contracts/mod.rs
Owners: @dotvm-maintainer

feat(state-transitions): Implement state transition logic, validation, merging, and rollback mechanisms
  crates/dotvm/core/src/vm/state_transitions/merge.rs
  crates/dotvm/core/src/vm/state_transitions/rollback.rs
  crates/dotvm/core/src/vm/state_transitions/state_transitions.rs
  crates/dotvm/core/src/vm/state_transitions/validation.rs
Owners: @dotvm-maintainer

feat(contract_manager): Implement contract lifecycle and resource cleanup
  crates/dotvm/runtime/src/contracts/contract_manager.rs
Owners: @dotvm-maintainer

.github/CODEOWNERS:

# CODEOWNERS

# Define the default code owners for the repository
* @ademclk
* @synerthink

# Specify code owners for specific directories or files
/crates/dotvm/ @dotvm-maintainer
/crates/dotdb/ @dotdb-maintainer
/docs/ @documentation-team
